$contentBackground: #fff;
$mainText: #2c2f3c;
$outlinedBg: #21232e;
$outlinedText: #14a0c7;
$buttonBackground:#699900;
$buttonColor:#f2f3f7;
$light:#c0c3ce;
$white:#fff;
$gradient:linear-gradient(90deg, #689804, #2c5adb);

$bgImage:url(../img/m-h-day.jpg);

$font-stack: (
        primary: #{'Source Sans Pro', sans-serif},
        secondary: #{'Hind', sans-serif},
        other: #{'Hind', sans-serif},
);

$font-weights: (
        hairline: 100,
        extra-light: 200,
        light: 300,
        regular: 400,
        book: 500,
        medium: 600,
        bold: 700,
        black: 800,
        heavy: 900 );
